*{
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
    }
    form {
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
    }
    label {
        margin-bottom: 5px;
        font-weight: bold;
    }
    input {
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    p {
        margin-top: -10px;
        margin-bottom: 10px;
        font-size: 12px;
        color: red;
    }
    button {
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    .sign-up-link{
        font-size:11px;
    }
    .sign-up-link:hover{
        color:red;
        text-decoration:underline;
        cursor:pointer;
    }
    .shop-link{
        margin-top:15px;
    }

    button:hover {
        background-color: #45a049;
    }
}
